<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sina annotator wui</title>
    <link rel="stylesheet"
	  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	  crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
	<h2>Sina Annotator</h2>
	<div id="sina-nav">
	  {% if prevSent>=0 %}
	  <a href="{{ prevSent }}">Previous document</a><br />
	  {% endif %}
	  {% if nextSent %}
	  <a href="{{ nextSent }}">Next document</a><br />
	  {% endif %}
	</div>
      </div>

      {% if metadata %}
      <div id="annot8meta">
	{{ metadata['title'] }} - {{ metadata['comment'] }}
      </div>
      {% endif %}
      
      {# There should not be any whitespace between sentence and
      container html element #}
      {% if groupedSentences %}
      {% for sent in sentence %}
      <div class="sina-sentence" data-adoc-id="{{ loop.index-1 }}" data-adoc-gid="{{ docid }}">{{ sent | safe }}</div>
      {% endfor %}
      {% else %}
      <div id="sina-sentence" data-adoc-id="{{ docid }}">{{ sentence | safe }}</div>
      {% endif %}
      <div class="footer">
	<br />
	sina project - Christophe Van Neste - <a href="/quit">Stop the
	annotation server</a>
      </div>
    </div>
    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://chancejs.com/chance.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	    crossorigin="anonymous"></script>
    <script src="/static/js/annotesto.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
